* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: url(../img/regexp.jpg) no-repeat 0px 0px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#loginDiv {
    width: 27%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 370px;
    background-color: rgba(246, 250, 250, 0.6);
    box-shadow: 7px 7px 17px rgba(246, 250, 250, 0.4);
    border-radius: 100px;
}

#loginDiv:hover {
    filter: grayscale(60%);
}

#loginDiv #form table tr td {
    margin-top: 15px;
}

input {
    text-align: center;
    border: none;
    background-color: rgba(239, 248, 250, 0.1);
    border-bottom: 1px solid rgb(60, 109, 176);
    width: 200px;
    margin-top: 15px;
}

#L_login {
    border-color: cornsilk;
    background-color: rgba(60, 109, 176, 0.8);
    color: aliceblue;
    border-style: hidden;
    border-radius: 5px;
    width: 100px;
    height: 31px;
    font-size: 16px;
}

#L_register {
    border-color: cornsilk;
    background-color: rgba(60, 109, 176, 0.8);
    color: aliceblue;
    border-style: hidden;
    border-radius: 5px;
    width: 100px;
    height: 31px;
    font-size: 16px;
}